@font-face {
     font-family: "architects_daughter";
     src: url("./architects_daughter/ArchitectsDaughter.ttf") format("truetype");
}
body, html {
     background-color: #f3f3f3;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
}
.wrapper {
     display: flex;
     flex-direction: column;
     background-color: papayawhip;
}

/*Header*/

.site-header {
     width: 100%;
     margin: -50px auto 0 auto;
     height: 50px;
     background-color: #c5376d;
     position: absolute;
     z-index: 3;
}

/*Triangle*/

.menu-toggle {
     width: 150px;
     height: 150px;
     position: relative;
     top: 40px;
     left: calc(50% - 75px);
     background: #c5376d;
     -webkit-transform: translateY(-50%) rotate(45deg);
     -moz-transform: translateY(-50%) rotate(45deg);
     -o-transform: translateY(-50%) rotate(45deg);
     -ms-transform: translateY(-50%) rotate(45deg);
     transform: translateY(-50%) rotate(45deg);
}

/*xTriangle*/


/*Hamburger*/

.hamburger {
     position: relative;
     left: calc(50% - 5px);
     top: 50%;
     color: papayawhip;
     transform: rotate(-45deg);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
     background-color: papayawhip;
}
.hamburger.hamburger--spin.is-active {
     outline: none;
}
.hamburger.hamburger--spin {
     outline: none;
}

/*xHamburger*/


/*Navigation*/

.slidedown-menu {
     overflow: auto;
     color: #4a4a4a;
     background: #c5376d;
     z-index: 999;
     display: none;
     margin: 1% auto;
     text-align: center;
}
.nav-list {
     list-style-type: none;
     padding-left: 0;
}
.nav-list li {
     color: papaywhip;
     font-size: 2em;
     margin-bottom: 7%;
     text-transform: uppercase;
}
.nav-list li a {
     color: papayawhip;
}

/*xNavigation*/


/*xHeader*/


/*Main*/

main {
     background-color: papayawhip;
     height: 2000px;
     width: 100%;
     margin: 0 auto;
}
.address {
     text-align: center;
     margin-top: 175px;
     font-family: "architects_daughter";
}
#typed {
     line-height: 2;
     color: #c5376d;
}
.typed-cursor {
     display: none;
}

/*Portfolio*/

.portfolio-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     width: 85%;
     margin: 15% auto 0 auto;
}
.portfolio-item {
     margin: 0 20px 20px 0;
}
.portfolio-image {
     background: url("./images/toro-ipad.png") no-repeat;
     background-position: center center;
     background-size: contain;
     width: 400px;
     height: 288px;
}

/*Writings*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
*, *:before, *:after {
     box-sizing: border-box;
}

/*html { background: radial-gradient(ellipse at top, #40485a 0%, #282e3a 60%);  height: 100%; width: 100%; }

body { height: 100%; width: 100%; overflow:hidden;}*/

.writings-content-wrapper {
     display: flex;
     flex-wrap: wrap;
     width: 90%;
     margin: 50px auto 0;
}
#envelope {
     margin: 100px auto 120px;
     position: relative;
     width: 0;
     height: 0;
     z-index: 0;
     border-style: solid;
     border-width: 0 150px 100px 150px;
     border-color: transparent transparent #256a98 transparent;
     box-shadow: 0 100px 0 0 #256a98, 0 150px 90px 0 rgba(0, 0, 0, 0.3);
}
#envelope:after, #envelope:before {
     content: '';
     display: block;
     position: absolute;
     top: 100px;
     border-style: solid;
}
#envelope:after {
     width: 0;
     height: 0;
     left: 0;
     border-width: 100px 150px 100px 0;
     border-color: transparent #2a7fb5 transparent transparent;
}
#envelope:before {
     width: 210px;
     height: 180px;
     left: -150px;
     border-width: 200px 0 0 300px;
     border-color: transparent transparent transparent #3596da;
}
#envelope:hover #card {
     top: -20px;
}
#card {
     width: 260px;
     height: 220px;
     position: absolute;
     top: 70px;
     left: -130px;
     z-index: -1;
     background: #dcdcdc;
     border-radius: 5px;
     transition: top 0.5s ease-in-out;
     font: bold 1.2em/1.1em 'Open Sans Condensed', sans-serif;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
     padding: 130px 0 0 0;
     color: #919499;
}
#card p {
     width: 150px;
     margin: 0 auto;
}

/*#dribbble{
  top: 25px;
  left: 90px;
  right: -25px;
  background: #ef5b93;
  height: 80px;
  width: 80px;
  border: 5px solid #c5376d;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 0 0 5px #eee,
              inset -20px -60px 0 -22px #ef5b93,
              inset -20px -60px 0 -17px #c5376d;}*/


/*#dribbble:before,
#dribbble:after{
  content:'';
  display: block;
  border: 5px solid #c5376d;
  border-radius: 100%;
  width: 170px;
  height: 190px;
  background: transparent;
  position: absolute;
}*/


/*#dribbble:before{
  top: 30px;
  left: -18px;
}

#dribbble:after{
  top: -30px;
  left: -120px;
  height: 200px;
}*/

#heart {
     position: relative;
     width: 100px;
     height: 90px;
     left: 80px;
     bottom: 135px;
}
#heart:before, #heart:after {
     position: absolute;
     content: "";
     left: 50px;
     top: 0;
     width: 50px;
     height: 80px;
     background: palevioletred;
     -moz-border-radius: 50px 50px 0 0;
     border-radius: 50px 50px 0 0;
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
     -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
     -ms-transform-origin: 0 100%;
     -o-transform-origin: 0 100%;
     transform-origin: 0 100%;
}
#heart:after {
     left: 0;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
     -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     -o-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
}

/*xMain*/

@media screen and (max-width: 600px) {
     .portfolio-container {
          justify-content: center;
          margin-top: 27%;
     }
}